.venv/
venv/
.env
.git/
.gitignore

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

tests/
scripts/
config/
proto/

Dockerfile
Dockerfile.mock
.dockerignore
README.md
dump.rdb
.DS_Store
Thumbs.db
